.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: all 0.3s ease;
  padding: 15px 5px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
}

.navbar-transparent {
  background: transparent;
  color: white;
  height: 70px; 
}

.navbar-scrolled {
  background: rgba(255, 255, 255, 0.9);
  color: black;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  height: 70px; 
}

.navbar-logo img {
  height: 50px; 
  transition: filter 0.3s ease, height 0.3s ease;
  margin-left: 40px;
}

.logo-white {
  filter: brightness(0) invert(1);
}

.logo-colored {
  filter: none;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px; 
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  margin-left: 20px; 
}

.navbar-menu li a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  padding: 10px 5px; 
  font-size: 18px;
}

.navbar-btn {
  background: linear-gradient(to right, #1d4ed8, #38a2f4);
  color: white;
  padding: 6px 18px; 
  border-radius: 6px; 
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.3s ease;
  margin-right: 20px; 
  font-size: 18px; 
  font-weight: 200; 
}

.navbar-btn:hover {
  background: #1d7ed0;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  margin-right: 20px;
}

/* //yang ditambahkan  */

.menu-toggle span {
  width: 20px;
  height: 3px;
  background: white;
  transition: 0.3s;
}

.navbar-scrolled .menu-toggle span {
  background: black;
}

.menu-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}
.menu-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

  .menu-toggle {
    display: flex;
  }

@media (max-width: 768px) {
  .navbar-right {
    position: absolute;
    top: 70px;
    right: 0;
    background: rgba(60, 43, 207, 0.932); 
    backdrop-filter: blur(8px);           
    flex-direction: column;
    align-items: center;
    width: 100%;                         
    padding: 5px 8px;                    
    transform: translateY(-20px);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;        
    border-radius: 15px;     
    padding-top: 30px; 
  }

  .navbar-right.open {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

  .navbar-menu {
    flex-direction: column;
    width: 100%;
    gap: 15px;
  }

  .navbar-menu li a {
    color: rgb(250, 248, 248) !important;
  }

  .navbar-btn {
  margin-top: 10px;
  width: 80%;
  text-align: center;
  margin: 15px auto;
  font-size: 18px;

  }

